---
import PostCard from "@components/PostCard.astro";
import { formatBlogPosts, slugify } from "@js/utils";
import MainLayout from "@layouts/MainLayout.astro";
import type { Frontmatter } from "src/types/types";
import type { MarkdownInstance } from "astro";

interface Params extends Record<string, string | number | undefined> {
  category: string;
}

export async function getStaticPaths() {
  const allPost = await Astro.glob<Frontmatter>("../blog/*.md");
  const formattedPosts = formatBlogPosts(allPost);
  const allPosts = [
    ...new Set(formattedPosts.map((post) => post.frontmatter.category).flat()),
  ];

  return allPosts.map((category) => {
    const categoryPosts = formattedPosts.filter(
      (post) => post.frontmatter.category === category
    );
    return {
      params: { category: slugify(category) },
      props: {
        categoryName: category,
        posts: categoryPosts,
      },
    };
  });
}

const { category } = Astro.params;
const { name } = Astro.props;

const { author } = Astro.params as Params;
const { categoryName, posts } = Astro.props as {
  categoryName: string;
  posts: MarkdownInstance<Frontmatter>[];
};
---

<MainLayout title={name}>
  <section class="container" aria-label={`Posts about ${name}`}>
    <h1 class="h1">Post about <span>{name}</span></h1>
    <div class="post-container">
      {
        posts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
