---
import PostCard from "@components/PostCard.astro";
import { formatBlogPosts, slugify } from "@js/utils";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection, CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);
  const allCategories = [
    ...new Set(formattedPosts.map((post) => post.data.category).flat()),
  ];
  return allCategories.map((category) => {
    const categoryPosts = formattedPosts.filter(
      (post) => post.data.category === category
    );

    return {
      params: { category: slugify(category) },
      props: { name: category, posts: categoryPosts },
    };
  });
}

const { name, posts } = Astro.props as {
  name: string;
  posts: CollectionEntry<"blog">[];
};
---

<MainLayout title={name}>
  <section class="container" aria-label={`Posts about ${name}`}>
    <h1 class="h1">Post about <span>{name}</span></h1>
    <div class="post-container">
      {
        posts.map((post) => (
          <PostCard data={post.data} url={post.slug} tagType="h2" />
        ))
      }
    </div>
  </section>
</MainLayout>
