---
import PostCard from "@components/PostCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import type { Frontmatter } from "src/types/types";

const title = "New Blog Posts";
const allPost = await Astro.glob<Frontmatter>("./*.md");
---

<MainLayout title={title}>
	<section class="container" aria-label={title}>
		<h1 class="h1">{title}</h1>
		<div class="post-container">
			{
				allPost.map((post) => (
					<PostCard
						frontmatter={post.frontmatter}
						url={post.url}
						tagType="h2"
					/>
				))
			}
		</div>
	</section>
</MainLayout>
