---
import { Image } from "@astrojs/image/components";
import Link from "@components/Link.astro";
import PostCard from "@components/PostCard.astro";
import { formatBlogPosts } from "@js/utils";
import MainLayout from "@layouts/MainLayout.astro";

import { getCollection, CollectionEntry } from "astro:content";

const title = "Home";
const description = "My Awesome Blog!";
const allPost = await getCollection("blog");

const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPost, {
	limit: 3,
});
---

<MainLayout title={title} description={description}>
	<section class="container about" aria-label="About Me">
		<Image
			src="/images/headshot.jpg"
			alt="My Headshot"
			width="150"
			height="200"
		/>
		<div class="content">
			<h1 class="h1">My Blog</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
				aut. Doloribus asperiores cum ad non?
			</p>
			<Link href="/about/" style="secondary" text="About Me" />
		</div>
	</section>
	<section class="container" aria-label={title}>
		<h2 class="h1">New Blog Posts</h2>
		<div class="post-container">
			{
				formattedPosts.map((post) => (
					<PostCard data={post.data} url={post.slug} tagType="h3" />
				))
			}
		</div>
	</section>
</MainLayout>
