---
import { Image } from "@astrojs/image/components";
import { formatDate, sluglify } from "@js/utils";
import type { Frontmatter } from "src/types/types";
import Link from "./Link.astro";

const { frontmatter, url, tagType } = Astro.props;
const { title, author, date, image, category, description } =
  frontmatter as Frontmatter;
const Tag = tagType;
---

<article class="card">
  <small>
    <a href={`/category/${sluglify(category)}`} class="badge">
      {category}
    </a>
  </small>
  <a href={url} aria-hidden="true" tabindex="-1">
    <Image
      src={image.src}
      alt={image.alt}
      width="400"
      height="250"
      format="webp"
      fit="cover"
      quality={80}
      aspectRatio="4:1"
    />
  </a>
  <div class="content">
    <Tag class="h3">
      <a href={url}>{title}</a>
    </Tag>
    <small>
      by <a href={`/author/${author}`}>{author}</a> · {formatDate(date)}
    </small>
  </div>
  <p>{description}</p>
  <Link text="Read Post" href={url} style="secondary" />
</article>
