---
import { slugify } from "@js/utils";
import type { CollectionEntry } from "astro:content";

const { relatedPosts } = Astro.props as {
  relatedPosts: CollectionEntry<"blog">[];
};
---

{
  relatedPosts.map((post) => (
    <div class="post">
      <h3 class="h4">
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
      </h3>
      <small>
        by{" "}
        <a href={`/author/${slugify(post.data.author)}`}>{post.data.author}</a>{" "}
        · {post.data.date}
      </small>
    </div>
  ))
}
