---
import PostHeader from "@components/PostHeader.astro";
import type { Frontmatter } from "src/types/types";
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
const { title, author, date, image, description, category }: Frontmatter =
  frontmatter;
---

<MainLayout {title} {description}>
  <PostHeader {title} {date} {category} {image} {author} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</MainLayout>
