---
import CategoryCloud from "@components/CategoryCloud.astro";
import PostHeader from "@components/PostHeader.astro";
import RelatedPosts from "@components/RelatedPosts.astro";
import { formatBlogPosts } from "@js/utils";
import type { Frontmatter } from "src/types/types";
import MainLayout from "./MainLayout.astro";

const { frontmatter, robots } = Astro.props;
const { title, author, date, image, description, category }: Frontmatter =
  frontmatter;

const allPost = await Astro.glob<Frontmatter>("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPost, {
  sortByDate: false,
});

const relatedPosts = formattedPosts
  .filter(
    (post) =>
      post.frontmatter.category.toLowerCase() === category.toLowerCase() &&
      post.frontmatter.title !== title
  )
  .slice(0, 3);

// I DONT KNOW WHY IT DOESNT SHOW ANYTHING IN THE CONSOLE
//console.log('related posts =>' + relatedPosts);
---

<MainLayout {title} {description} image={frontmatter.image} {robots}>
  <PostHeader {title} {date} {category} {image} {author} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog categories">
        <h2 class="h3">Blog Categories</h2>
        <CategoryCloud />
      </aside>
      {
        relatedPosts.length > 0 && (
          <aside class="container" aria-label="Related posts">
            <h2 class="h3">Related Posts</h2>
            <RelatedPosts {relatedPosts} />
          </aside>
        )
      }
    </div>
  </div>
</MainLayout>
